<h1><%= current_user.username %>'s Games</h1><br><br>

<form method="GET" action="/game/new">
    <input type='submit' class="button" value='Add New Game'>
</form>

<% if current_user.games == [] %>
    <h2><%= current_user.username %> does not have any games yet.</h2>
<% end %>

<% sorted = current_user.games.sort_by {|game| game.name } %>

<% sorted.each do |game| %>
    <h2><a href='/game/<%=game.id%>'><%=game.name%></a></h2><br>
<% end %>