<h1>Fill out the following information to add a new game for the <%= @platform.name %> platform.</h1>

<form method="POST" action = '/new_game'>
    <h2>Name: <input type="text" name='game[name]'></h2><br>
    <h2>Players: <input type="text" name='game[players]' value='Ex.~ 1-4 Players'></h2>
    <h2>Description:</h2><br>
    <textarea name='game[description]' rows='8' cols='50'>Write a short description here.</textarea>
    <input type="hidden" name='id' value='<%= @platform.id %>'>
    <input type="submit" value="Submit">
</form>