<h1>Provide the Following Information:</h1><br><br>

<% if @error %>
    <h2><%= @error %></h2>
<% end %>

<form method="POST" action='/platform/new'>
    <h2>Name of Platform: <input type="text" name="platform[name]" required></h2>
    <h2>Online Capability: </h2>
    <input type="radio" id="yes" name="platform[online]" value="Yes" required>
    <label for="yes">Yes</label><br>
    <input type="radio" id= "no" name="platform[online]" value="No">
    <label for="no">No</label><br><br><br>
    <input type="submit" name="Add Platform"><br>
</form>