<h1>Game Library Log In</h1>
<h2>Enter Username and Password to Log In:</h2><br><br>

<% if @error %>
    <h2><%= @error %></h2>
<% end %>

<form method="POST" action='/login'>
    <h2>Username: </h2>
    <input type="text" name="user[username]" required>
    <h2>Password: </h2>
    <input type="password" name="user[password]" required><br><br>
    <input type="submit" class="button" name="Submit">
</form>